{% extends 'layout.html.twig' %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="col-lg-10 col-md-12 col-xs-12 m-auto">
        {% include 'Home/carousel.html.twig' %}
    </div>
</div>


{% include 'Home/slider.html.twig' %}

<div class="container-fluid">
    <div class="parallax-home-1">
        <div class="container">
            <div class="row" style="height: 300px">
                <div class="col-lg-8 col-md-8 col-xs-12 bg-black text-white mx-auto my-5">
                    <h2 class="text-xxl big-title text-center pt-4">Adidas | Gazelle</h2>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12 bg-black text-white text-center my-5 m-auto">
                    <h2 class="text-xxl big-title pt-4">Colorfull</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}